// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

blockquote {
  color: inherit;
  border-left: 0.25rem solid #20c997;
}

@media (min-width: 30em) {
  blockquote {
    // padding-left: unset;
    padding-right: unset;
  }
}

// spoiler
.dark details p {
  border-left: unset;
}

.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
}

// 数学公式 (not work)
.article-style>mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}