// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

blockquote {
  color: inherit;
  border-left: 0.25rem solid #20c997;
}

// spoiler
.dark details p {
  border-left: unset;
}
