<script>
    window.onload = function () {
        // 将所有 mjx-container 标签的 style 属性为 overflow-x: auto; overflow-y: hidden;
        $(".article-style > mjx-container").css({
            "margin": "0.5em 0"
        })
        $(".article-style > mjx-container").wrap('<div class="mjx-container-with-scroll" style="overflow-x: auto; overflow-y: hidden; margin: 1em 0;">')

        // 在 callout 块里面的行间公式单独处理
        var callout_p = $(".alert p");
        callout_p.each(function () {
            var innerHtml = $(this).html();
            console.info(innerHtml);

            // 判断是否以 <mjx-container> 开头，以 </mjx-container> 结尾
            if (innerHtml.startsWith("<mjx-container") && innerHtml.endsWith("</mjx-container>")) {
                $(this).find("mjx-container").css({
                    "margin": "0.5em 0"
                });
                $(this).find("mjx-container").wrap('<div class="mjx-container-with-scroll" style="overflow-x: auto; overflow-y: hidden; margin: 1em 0;">');
                console.info("行间公式处理成功");
            }
        })

        // 在所有 table 标签外用一个 div 标签包裹起来，并设置其 style 属性为 overflow: auto;
        $("table").css({
            "margin": "0.5em 0"
        });
        $("table").wrap('<div class="table-with-scroll" style="overflow: auto; margin: 1em 0;">');
    }
</script>

<!-- <script>
    window.onload = function () {
        $(".katex-display").css({
            "overflow-x": "auto",
            "overflow-y": "hidden"
        })
    }
</script> -->